
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.dll
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.pdb
AnnouncementAPI/bin/Debug/net6.0/appsettings.json
AnnouncementAPI/bin/Debug/net6.0/ref/AnnouncementAPI.dll
AnnouncementAPI/.vs/AnnouncementAPI/v17/.futdcache.v1
AnnouncementAPI/.vs/AnnouncementAPI/v17/.suo
AnnouncementAPI/.vs/AnnouncementAPI/DesignTimeBuild/.dtbcache.v2
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.dll
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.pdb
AnnouncementAPI/obj/Debug/net6.0/ref/AnnouncementAPI.dll
AnnouncementAPI/obj/staticwebassets.pack.sentinel
