
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.dll
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.pdb
AnnouncementAPI/bin/Debug/net6.0/appsettings.json
AnnouncementAPI/bin/Debug/net6.0/ref/AnnouncementAPI.dll
AnnouncementAPI/.vs/AnnouncementAPI/v17/.futdcache.v1
AnnouncementAPI/.vs/AnnouncementAPI/v17/.suo
AnnouncementAPI/.vs/AnnouncementAPI/DesignTimeBuild/.dtbcache.v2
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.dll
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.pdb
AnnouncementAPI/obj/Debug/net6.0/ref/AnnouncementAPI.dll
AnnouncementAPI/obj/staticwebassets.pack.sentinel
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.deps.json
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.exe
AnnouncementAPI/bin/Debug/net6.0/AnnouncementAPI.runtimeconfig.json
AnnouncementAPI/bin/Debug/net6.0/appsettings.Development.json
AnnouncementAPI/bin/Debug/net6.0/Humanizer.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.Identity.Client.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
AnnouncementAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
AnnouncementAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
AnnouncementAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
AnnouncementAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
AnnouncementAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
AnnouncementAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
AnnouncementAPI/bin/Debug/net6.0/System.Drawing.Common.dll
AnnouncementAPI/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
AnnouncementAPI/bin/Debug/net6.0/System.Runtime.Caching.dll
AnnouncementAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
AnnouncementAPI/bin/Debug/net6.0/System.Security.Permissions.dll
AnnouncementAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
AnnouncementAPI/obj/AnnouncementAPI.csproj.nuget.dgspec.json
AnnouncementAPI/obj/AnnouncementAPI.csproj.nuget.g.props
AnnouncementAPI/obj/AnnouncementAPI.csproj.nuget.g.targets
AnnouncementAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.AssemblyInfo.cs
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.AssemblyInfoInputs.cache
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.assets.cache
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.csproj.CopyComplete
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.csproj.CoreCompileInputs.cache
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.csproj.FileListAbsolute.txt
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.GeneratedMSBuildEditorConfig.editorconfig
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.genruntimeconfig.cache
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.GlobalUsings.g.cs
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.MvcApplicationPartsAssemblyInfo.cache
AnnouncementAPI/obj/Debug/net6.0/AnnouncementAPI.MvcApplicationPartsAssemblyInfo.cs
AnnouncementAPI/obj/Debug/net6.0/apphost.exe
AnnouncementAPI/obj/Debug/net6.0/staticwebassets.build.json
AnnouncementAPI/obj/project.assets.json
AnnouncementAPI/obj/project.nuget.cache
AnnouncementAPI/.vs/AnnouncementAPI/project-colors.json
